@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap';

:root{
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  background-color: rgba(8, 27, 41, 0.26);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
  }

  .navbar a{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 3.5rem;
    transition: .3s;

    &:hover{
      color: var(--main-color);
    }
  }

  .navbar a.active{
    color: var(--main-color);
  }

  #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
  }
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;

  .image-container {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
    .circle {
        position: absolute;
        width: 530px;
        height: 530px;
        top: -15px;
        left: -16px;
        z-index: 10;  
        cursor: pointer;
        stroke: transparent; 
        transition: stroke .5s ease-out;
        animation: rotate 45s linear infinite;

        &:hover {
          stroke: var(--main-color);
          animation: rotate 45s linear infinite;
        }
        
        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
    }

    .circle-img {
      position: relative;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      overflow: hidden;

        img {
          position: absolute;
          bottom: 0;
        }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 20px #000000;
      background: radial-gradient(
          circle, 
          #081b2963 20%,
          #081b29ad 40%,
          #081b29 100% 
      );
      border-radius: 50%;
      z-index: 2;
    }

    &:hover::after {
      content: '';
      background: radial-gradient(
        circle, 
        #081b2931 20%,
        #081b2952 40%,
        #081b2927 100%
      );
    }
  }


  .home-content{
    max-width: 60rem;

    h1{
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 1.3;
    }

    .text-animate {
      position: relative;
      white-space: nowrap;
      height: 6rem;
      overflow: hidden;
      animation: typing 6s steps(45) infinite alternate-reverse;
      border-right: 2px solid var(--main-color);

      .gradient-designer{
        background: linear-gradient(90deg, #00abf0, #00fd4c); /* Градиент */
        background-clip: text; /* Обрезает фон текстом */
        -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
      }

      .gradient-develop{
        background: linear-gradient(90deg, #00abf0, #ffffff); /* Градиент */
        background-clip: text; /* Обрезает фон текстом */
        -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
      }
    
      span {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 4.2rem;
        font-weight: 700;
        color: transparent;
        // -webkit-text-stroke: 0.7px var(--main-color);
        margin: 0;
        opacity: 0;
        animation: switchText 12s linear infinite;
    
        &:first-child {
          animation-delay: 0s; /* "Frontend Developer" отображается первым */
        }
    
        &:last-child {
          animation-delay: 6s; /* "Product Designer" отображается вторым */
        }
      }
    
      /* Анимация для текста */
      @keyframes typing {
        0% {
          width: 0ch;
        }
        40% {
          width: 75ch;
        }
        60% {
          width: 75ch;
        }
        100% {
          width: 0ch;
        }
      }
      

      /* Анимация для смены текста */
      @keyframes switchText {
        0%, 49% {
          opacity: 1;
        }
        50%, 100% {
          opacity: 0;
        }
      }
    }
    
    p{
      font-size: 1.6rem;
      margin: 2rem 0 4rem;
      line-height: 1.5;
    }

    .btn-box {
      display: flex;
      flex-direction: row;
      gap: 24px;

      .btn{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 15rem;
        height: 5rem;
        background-color: var(--main-color);
        border-radius: .8rem;
        border: 1px solid var(--main-color);
        font-size: 1.8rem;
        font-family: 600;
        letter-spacing: .1rem;
        color: var(--bg-color);
        z-index: 1;
        overflow: hidden;

        &:hover{
          color: var(--main-color);
        }
  
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--bg-color);
          border-radius: .8rem;
          z-index: -1;
          transition: .5s;
          border: 1px solid var(--main-color);
        }
  
        &:hover::before{
          width: 100%;
        }
      }
    }
  }

  .home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: flex-start;
    gap: 24px;

    a{
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: .2rem solid var(--main-color);
      border-radius: 50%;
      font-size: 2rem;
      color: var(--main-color);
      z-index: 1;
      overflow: hidden;

      &:hover{
        color: var(--bg-color);
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--main-color);
        z-index: -1;
        transition: .5s;
      }

      &:hover::before{
        width: 100%;
      }
    }
  }
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  width: 100%;
  gap: 2rem;
  background-color: var(--second-bg-color);

  .about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 90%;
      border-radius: 50%;
      border: .2rem solid var(--main-color);
    }

    .circle-spin{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border-top: .2rem solid var(--second-bg-color);
      border-bottom: .2rem solid var(--second-bg-color);
      border-left: .2rem solid var(--main-color);
      border-right: .2rem solid var(--main-color);
    }
  }

  .heading{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;

    span{
      color: var(--main-color);
    }
  }

  .about-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3{
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.3;
    }

    p{
      font-size: 1.6rem;
      margin: 2rem 0 3rem;
      line-height: 1.5;
      width: 80rem;
    }

    .btn-box {
      display: flex;
      flex-direction: row;
      gap: 24px;
      justify-content: center;

      .btn{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 15rem;
        height: 5rem;
        background-color: var(--main-color);
        border-radius: .8rem;
        border: 1px solid var(--main-color);
        font-size: 1.8rem;
        font-family: 600;
        letter-spacing: .1rem;
        color: var(--bg-color);
        z-index: 1;
        overflow: hidden;

        &:hover{
          color: var(--main-color);
        }
  
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--second-bg-color);
          border-radius: .8rem;
          z-index: -1;
          transition: .5s;
          border: 1px solid var(--main-color);
        }
  
        &:hover::before{
          width: 100%;
        }
      }
    }
  }
}

.education{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  width: 100%;
  gap: 2rem;

  .heading{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;

    span{
      color: var(--main-color);
    }
  }

  .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    .education-column{
      flex: 1 1 40rem;

      .title{
        font-size: 2.5rem;
        margin: 0 0 1.5rem 2rem;
      }

      .education-box{
        border-left: .2rem solid var(--main-color);

        .education-content{
          position: relative;
          padding-left: 2rem;

          &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -1.1rem;
            width: 2rem;
            height: 2rem;
            background-color: var(--main-color);
            border-radius: 50%;
          }

          .content{
            position: relative;
            padding: 1.5rem;
            border: .2rem solid var(--main-color);
            border-radius: .6rem;
            margin-bottom: 2rem;
            overflow: hidden;

            &::before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background-color: var(--second-bg-color);
              z-index: -1;
              transition: .5s;
            }

            &:hover::before{
              width: 100%;
            }


            .year{
              font-size: 1.5rem;
              color: var(--main-color);
              padding-bottom: .5rem;
              
              i{
                padding-right: .5rem;
              }
            }

            h3{
              font-size: 2rem;
              padding-bottom: .3rem;
            }

            p{
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  width: 100%;
  background-color: var(--second-bg-color);
  gap: 2rem;

  .heading{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;

    span{
      color: var(--main-color);
    }
  }

  .skills-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5rem;

    .skills-column{
      flex: 1 1 40rem;

      &:nth-child(1){
        .skills-content{
          .progress:nth-child(1){
            .bar{
              span{
                width: 90%;
              }
            }
          }

          .progress:nth-child(2){
            .bar{
              span{
                width: 80%;
              }
            }
          }

          .progress:nth-child(3){
            .bar{
              span{
                width: 65%;
              }
            }
          }

          .progress:nth-child(4){
            .bar{
              span{
                width: 50%;
              }
            }
          }
        }
      }

      &:nth-child(2){
        .skills-content{
          .progress:nth-child(1){
            .bar{
              span{
                width: 100%;
              }
            }
          }
    
          .progress:nth-child(2){
            .bar{
              span{
                width: 95%;
              }
            }
          }

          .progress:nth-child(3){
            .bar{
              span{
                width: 75%;
              }
            }
          }

          .progress:nth-child(4){
            .bar{
              span{
                width: 77%;
              }
            }
          }
        }
      }

      .title{
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
      }

      .skills-box{
        border: .2rem solid var(--main-color);
        border-radius: .6rem;
        padding: 2rem;

        .skills-content{
          position: relative;

          .progress{
            padding: 1rem 0;

            h3{
              font-size: 1.7rem;
              font-weight: 400;
              display: flex;
              justify-content: space-between;

              span{
                color: var(--main-color);
              }
            }

            .bar{
              height: 2.5rem;
              border-radius: .6rem;
              border: .2rem solid var(--main-color);
              padding: .5rem;
              margin: 1rem 0;

              span{
                display: block;
                height: 100%;
                border-radius: .3rem;
                background-color: var(--main-color);
              }
            }
          }
        }
      }
    }
  }
}

.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  width: 100%;
  gap: 2rem;

  .heading{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;

    span{
      color: var(--main-color);
    }
  }

  form{
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;

    .input-box{
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 70rem;

      .input-field{
        position: relative;
        width: 49%;
        margin: .8rem 0;

        input{
          width: 100%;
          height: 100%;
          padding: 1.5rem;
          font-size: 1.6rem;
          color: var(--text-color);
          background-color: transparent;
          border-radius: .6rem;
          border: .2rem solid var(--main-color);
        }
      }
    }

    .textarea-field{
      textarea{
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: var(--text-color);
        background-color: transparent;
        border-radius: .6rem;
        border: .2rem solid var(--main-color);
      }
    }

    .btn-box {
      display: flex;
      flex-direction: row;
      gap: 24px;
      justify-content: center;

      .btn{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-top: 2rem;
        width: 15rem;
        height: 5rem;
        background-color: var(--main-color);
        border-radius: .8rem;
        border: 1px solid var(--main-color);
        font-size: 1.8rem;
        font-family: 600;
        letter-spacing: .1rem;
        color: var(--bg-color);
        z-index: 1;
        overflow: hidden;

        &:hover{
          color: var(--main-color);
        }
  
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--bg-color);
          border-radius: .8rem;
          z-index: -1;
          transition: .5s;
          border: 1px solid var(--main-color);
        }
  
        &:hover::before{
          width: 100%;
        }
      }
    }
  }
}